<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>




<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/reservations/new" method="post">
        <div class="form-group">
            <label for="customer">고객 선택</label>
            <select name="customer_id" id="customer" class="form-control">
                <option value="">고객 선택</option>
                <option th:each="customer : ${customers}"
                        th:value="${customer.id}"
                        th:text="${customer.name} + ' - phoneNumber : ' + ${customer.phoneNumber}" />
            </select>
        </div>
        <div class="form-group">
            <label for="room">방 선택</label>
            <select name="room_id" id="room" class="form-control">
                <option value="">방 선택</option>
                <option th:each="room : ${rooms}"
                        th:value="${room.id}"
                        th:text="${room.name}" />
            </select>
        </div>

        <div class="form-group">
            <div class="container mt-5">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-6 mb-4">
                        <div class="md-form">
                            <!--The "from" Date Picker -->
                            <label for="datepicker1" class="font-weight-bold">CHECK IN</label>
                            <input class="datepicker form-control" type="text" id="datepicker1" name="checkInDate" placeholder="Select check in date">
                        </div>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6 mb-4">
                        <div class="md-form">
                            <!--The "to" Date Picker -->
                            <label for="datepicker2" class="font-weight-bold">CHECK OUT</label>
                            <input class="datepicker form-control" type="text" id="datepicker2" name="checkOutDate" placeholder="Select check out date">
                        </div>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script>$('.datepicker').datepicker();</script>
</body>


</html>